In [42]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [43]:
path="/Users/barrett22/Desktop/UCI Student Performance/UCI_Student_Performance/student_mat_2173a47420.csv"
data = pd.read_csv(path, sep=";")
display(data)
data.info()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [55]:
data = data[["G1", "G2", "G3", "studytime", "absences", "failures"]]

In [56]:
predict = "G3"
x = np.array(data.drop([predict], 1))
y = np.array(data[predict])

In [57]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y,test_size=.1)

In [58]:
linear = linear_model.LinearRegression()

In [59]:
linear.fit(x_train, y_train)

LinearRegression()

In [60]:
acc = linear.score(x_test, y_test)
print(acc)

0.8879728469527121

In [61]:
print("Co: \n", + linear.coef_)
print("Intercept: \n", + linear.intercept_)

Co:
 [ 0.15601093  0.97099473 -0.24317279  0.04062515 -0.25012353]
Intercept:
 -1.350873652453524

In [62]:
predictions = linear.predict(x_test)

In [63]:
for x in range (len(predicitons)):
    print(predictions[x], x_test[x], y_test[x])

12.813854342979116 [13 13  2  0  0] 13
9.508176099772111 [11 10  3  4  0] 11
12.58308278585102 [11 13  2  2  0] 14
11.699249919366885 [10 12  1  2  0] 12
5.808647587895021 [7 7 3 0 0] 8
15.704310616407932 [17 15  1  2  0] 15
12.339448924478951 [10 13  2  6  1] 13
8.792755398992007 [9 9 1 6 0] 10
11.162730607433357 [12 11  2 11  0] 11
8.309585754214307 [ 7 10  4  2  1] 10
15.630706207230533 [16 15  3 16  0] 15
10.157022289364654 [11 10  1  8  0] 10
10.566332695551568 [10 11  2  4  0] 9
10.722343624643804 [11 11  2  4  0] 11
11.911708676291896 [15 12  3  0  0] 14
12.002301313055042 [14 11  1 18  0] 13
9.432837362307017 [10 10  2  0  0] 10
7.009608782687627 [ 6  8  1 16  3] 8
16.350882252743453 [17 16  2  0  0] 16
5.714073914962499 [7 7 2 4 2] 9
15.670753248329488 [16 15  2 11  0] 15
11.756275856628893 [14 12  4  6  0] 13
14.659250408466564 [15 14  2 20  1] 13
10.580840131661516 [ 9  9  2 56  0] 8
10.544499926811278 [13 10  2 22  1] 11
3.446622180841226 [6 5 1 0 3] 0
-0.3642718136586126 [11  0  3  0  0] 0
3.7036964558865018 [6 5 2 0 1] 0
5.487077155785001 [ 7  6  2 10  0] 6
13.785427183540147 [13 14  3  6  0] 14
14.911854734334947 [14 15  2  0  0] 15
15.021907058736945 [16 15  4  7  0] 17
9.751465935309065 [10 10  2 14  1] 9
15.149115964483562 [15 15  2  2  0] 16
11.20004202764312 [11 12  3  4  1] 11
6.055251153750402 [ 7  6  1 18  0] 6
14.265283097999424 [14 14  1  2  0] 13
2.881761913194251 [7 4 1 0 2] 0
13.38260645037375 [13 13  2 14  0] 14
12.87906639708943 [16 12  1  8  0] 13